<div class="properties-area">
    <h4>Properties</h4>
    <form data-abide novalidate>
        <div class="property-row">
            <label for="temperature" class="middle property-name">Process Name</label>
            <input type="text" id="processName" placeholder="" aria-describedby="process name" required>
        </div>
        <div class="property-row">
            <label for="temperature" class="middle property-name">Duration</label>
            <input type="number" id="duration" placeholder="" aria-describedby="duration" required>
        </div>
    </form>
    <br>
    <h4>Process Parameters</h4>
    <form data-abide novalidate>
        <div class="property-row">
            <label for="temperature" class="middle property-name">Temperature</label>
            <input type="number" id="temperature" placeholder="" aria-describedby="temperature" required>
            <button class="button dropdown property-unit" type="button">°C</button>
        </div>
        <div class="property-row">
            <label for="temperature" class="middle property-name">pH</label>
            <input type="number" id="pH" placeholder="" aria-describedby="pH" required>
        </div>
        <div class="property-row">
            <label for="temperature" class="middle property-name">aw</label>
            <input type="number" id="aw" placeholder="" aria-describedby="aw" required>
        </div>
        <div class="property-row">
            <label for="temperature" class="middle property-name">Pressure</label>
            <input type="number" id="pressure" placeholder="" aria-describedby="pressure" required>
            <button class="button dropdown property-unit" type="button">bar</button>
        </div>
    </form>
</div>

<div class="controls-area">
    <div class="button-row expanded">
        <button type="button" id="addInPort" class="button">Add InPort</button>
        <button type="button" id="removeInPort" class="secondary button"><i class="fa fa-times"></i></button>
    </div>
    <div class="button-row expanded">
        <button type="button" id="addOutPort" class="button">Add OutPort</button>
        <button type="button" id="removeOutPort" class="secondary button"><i class="fa fa-times"></i></button>
    </div>
    <button type="button" id="deleteNode" class="alert button expanded last">Delete Node</button>
</div>
