<div class="properties-area">
    <h4>Process</h4>
    <form class="properties-form" data-abide novalidate>
        <div class="property-row">
            <label for="processNameInput" class="middle property-name">Name</label>
            <input type="text" id="processNameInput" placeholder="" aria-describedby="process name" required>
        </div>
        <div class="property-row">
            <label for="durationInput" class="middle property-name">Duration</label>
            <input type="number" id="durationInput" placeholder="" aria-describedby="duration" required>
            <select class="property-unit" id="durationUnitInput"></select>
        </div>
    </form>
    <h5>Parameter</h5>
    <form class="properties-form" data-abide novalidate>
        <div class="property-row">
            <label for="temperatureInput" class="middle property-name">Temperature</label>
            <input type="number" id="temperatureInput" placeholder="" aria-describedby="temperature" data-validator="tempValidation" required>
            <select class="property-unit" id="temperatureUnitInput"></select>
            <button type="button" id="addTimeTableButtonTemperature" data-open="timetableModal" class="primary button property-button" title="Change value for specific points in time" disabled>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
            </button>
        </div>
        <div class="property-row">
            <label for="pHInput" class="middle property-name">pH</label>
            <input type="number" id="pHInput" placeholder="" aria-describedby="pH" data-validator="phValidation" required>
            <button type="button" id="addTimeTableButtonPh" data-open="timetableModal" class="primary button property-button" title="Change value for specific points in time" disabled>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
            </button>
        </div>
        <div class="property-row">
            <label for="awInput" class="middle property-name">aw</label>
            <input type="number" id="awInput" placeholder="" aria-describedby="aw" data-validator="awValidation" required>
            <button type="button" id="addTimeTableButtonAw" data-open="timetableModal" class="primary button property-button" title="Change value for specific points in time" disabled>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
            </button>
        </div>
        <div class="property-row">
            <label for="pressureInput" class="middle property-name">Pressure</label>
            <input type="number" id="pressureInput" placeholder="" aria-describedby="pressure" required>
            <select class="property-unit" id="pressureUnitInput"></select>
            <button type="button" id="addTimeTableButtonPressure" data-open="timetableModal" class="primary button property-button" title="Change value for specific points in time" disabled>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
            </button>
        </div>

        <% let parameters = model.get('parameters').models %>
        <% _.each(parameters, function (parameter) { %>
            <div class="property-row">
                <input type="text" id="parameterInputName<%= parameter.get('id') %>" class="middle property-name">
                <input type="number" id="parameterInputValue<%= parameter.get('id') %>" placeholder="" aria-describedby="parameter" required>
                <input type="text" class="property-unit optional-parameter-unit" id="parameterInputUnit<%= parameter.get('id') %>">
                <button type="button" id="addTimeTableParameter" data-open="timetableModal<%= parameter.get('id') %>" class="primary button property-button" title="Change value for specific points in time" disabled>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                </button>
                <button type="button" id="removeParameter<%= parameter.get('id') %>" class="alert button remove-row-button" title="Remove the timetable parameter">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
            <div class="reveal timetable tiny" id="timetable<%= parameter.get('id') %>" data-reveal></div>
        <% }); %>

    </form>
    <button type="button" id="addParameterButton" class="button expanded last" title="">Add Parameter</button>
</div>

<div class="controls-area">
    <div class="button-row expanded">
        <button type="button" id="addInPortButton" class="button" title="Add an input port to the FoodProcess">Add InPort</button>
        <button type="button" id="removeInPortButton" class="alert button" title="Remove an input port from the FoodProcess">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </div>
    <div class="button-row expanded">
        <button type="button" id="addOutPortButton" class="button" title="Add an output port to the FoodProcess">Add OutPort</button>
        <button type="button" id="removeOutPortButton" class="alert button" title="Remove an output port from the FoodProcess">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </div>
    <button type="button" id="deleteNodeButton" class="alert button expanded last" title="Delete the selected FoodProcess">Delete Node</button>
</div>