<div class="settings-area">
    <img class="bfr-logo" src="../img/bfr-logo.png">
    <button type="button" id="settings" class="button expanded settings-button" title="Open settings">
        <i class="fa fa-cog" aria-hidden="true"></i> Settings
    </button>
    <form data-abide novalidate>
        <label>Name
            <input type="text" id="name" placeholder="" aria-describedby="name" required>
        </label>
        <label>Author
            <input type="text" id="author" placeholder="" aria-describedby="duration" required>
        </label>
    </form>
</div>
<div class="nodes-area">
    <div id="nodes-library" class="nodes-library"></div>
</div>
<div class="controls-area">
    <button type="button" id="sendToAPI" class="button expanded" title="Send the model to the API">Send to API</button>
    <button type="button" id="save" class="button secondary expanded" title="Save the model">Save</button>
    <button type="button" id="load" class="button secondary expanded last" title="Load a model from file">Load</button>
</div>
