<% let metadata = model.get('metadata') %>
<% if (metadata.length) { %>
    <h4>Additional Values</h4>
    <% for(let i = 0; i < metadata.length; i++) { %>
        <div class="settings-row">
            <% let dataElement = metadata[i] %>
            <input type="text" class="settings-key meta" id="metadata-key-<%= i %>" placeholder="" aria-describedby="process name"
                   value="<%= dataElement.key %>" required>
            <input type="text" class="settings-value meta" id="metadata-value-<%= i %>" placeholder="" aria-describedby="process name"
                   value="<%= dataElement.value %>" required>
        </div>
    <% } %>
<% } %>