<% let metadata = model.get('metadata') %>
<% if (metadata.length) { %>
    <h4>Additional Values</h4>
    <% let metadata = model.get('metadata').models %>
    <% _.each(metadata, function (metadataRow) { %>
        <div class="settings-row meta">
            <select class="settings-key meta" id="metadataKeySelect<%= metadataRow.get('id') %>">
                <% _.each(metadataNames, function(metadataName) { %>
                <option value="<%= metadataName.id %>"><%= metadataName.name %></option>
                <% }); %>
            </select>
            <input type="text" class="settings-value meta" id="metadataValueInput<%= metadataRow.get('id') %>" placeholder="" aria-describedby="process name" required>
            <button type="button" id="removeMetadata<%= metadataRow.get('id') %>" class="alert button remove-row-button" title="Remove the metadata row">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>
    <% }); %>
<% } %>