<h2>Properties</h2>
<form data-abide novalidate>
    <label>Process Name</label>
    <input type="text" placeholder="my process" aria-describedby="process name" required pattern="text">
    <label>Author</label>
    <input type="text" placeholder="firstname lastname" aria-describedby="author name" required pattern="text">
    <label>Created</label>
    <input type="text" placeholder="created" aria-describedby="date of creation" pattern="date" disabled>
    <label>Last Modified</label>
    <input type="text" placeholder="edited" aria-describedby="date of last modification" pattern="date" disabled>
</form>