<div class="reveal settings" id="settingsModal" data-reveal>
    <h4>Settings</h4>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <form data-abide novalidate>
        <label>Process Name
            <input type="text" id="settingsProcessNameInput" placeholder="" aria-describedby="name" required>
        </label>
        <label>Author
            <input type="text" id="settingsAuthorInput" placeholder="" aria-describedby="duration" required>
        </label>
        <span>Created: </span>
        <span id="settingsCreated"></span>
        <span>Last change: </span>
        <span id="settingsLastChange"></span>
    </form>
</div>
