<div class="reveal settings" id="settingsModal" data-reveal>
    <h4>Settings</h4>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <br>
    <form data-abide novalidate>
        <div class="settings-row">
            <label class="middle settings-key">Process Name</label>
            <input type="text" class="settings-value" id="settingsProcessNameInput" placeholder="" aria-describedby="process name" required>
        </div>
        <div class="settings-row">
            <label class="middle settings-key">Author</label>
            <input type="text" class="settings-value" id="settingsAuthorInput" placeholder="" aria-describedby="author" required>
        </div>
        <div class="settings-row">
            <label class="middle settings-key">Created: </label>
            <span class="settings-value bold" id="settingsCreated"></span>
        </div>
        <div class="settings-row">
            <label class="middle settings-key">Last changed: </label>
            <span class="settings-value bold" id="settingsLastChange"></span>
        </div>
    </form>
</div>
