$white: white;
$black: black;
$lighterGray: #f6f6f6;
$lightGray: #eee;
$gray: #ccc;
$darkGray: #696969;
$darkerGray: #3f3f3f;

$backgroundColor: $white;
$textColor: $darkerGray;
$sideBackgroundColor: $lightGray;

$borderColor: $gray;
$shadowColor: $gray;

$nodeBorderColor: $darkerGray;
$nodeBackgroundColor: $lighterGray;
$nodeContentColor: $darkGray;
$nodePortColor: $gray;
$nodePortHoverColor: $black;
$nodeOutlineColor: $darkerGray;
$nodeActiveColor: $lightGray;

$linkStrokeColor: $darkerGray;