.menu {
    width: auto;
    float: left;
    position: relative;
    z-index: 100;
    height: 100vh;
    padding: 30px;
    border-right: 1px solid $borderColor;
    box-shadow: 1px 0 4px $shadowColor;
}