.properties {
    width: 350px;
    background-color: $sideBackgroundColor;
    position: relative;
    z-index: 100;
    border-left: 1px solid $borderColor;
    box-shadow: -1px 0 4px $shadowColor;

    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
}

    .properties-area {
        padding: 1.5em;
        flex-grow: 1;
        flex-shrink: 1;
        overflow: auto;
        min-height: 100px;
    }

        .properties-form {
            margin-bottom: 0.6rem;
        }

        .property-row {
            display: flex;
            flex-flow: row nowrap;

            .property-name {
                width: 93px;
                margin-right: 10px;
                flex-shrink: 0;
                margin-bottom: 0;
            }

            .property-input {
                flex-grow: 1;
            }

            .property-unit {
                flex-shrink: 0;
                height: 2.4375rem;
                width: 70px;
                margin-left: -1px;
            }

            * {
                margin-bottom: 0.4rem;
            }
        }