.properties {
  width: 300px;
  background-color: $sideBackgroundColor;
  position: relative;
  z-index: 100;
  padding: 30px;
  border-left: 1px solid $borderColor;
  box-shadow: -1px 0 4px $shadowColor;
}