.settings {
    outline: none;

    .close-button {
        right: 0.5rem;
        font-size: 1.3em;
    }
}

    .metadata-section {
        margin: 0.5rem 0;
    }

    .settings-row {
        display: flex;
        flex-flow: row nowrap;

        &.meta {
            margin-bottom: .4rem;
        }

        .settings-key {
            width: 120px;
            margin-right: .6rem;
            flex-shrink: 0;
            margin-bottom: 0;

            &.meta {
                width: 38%;
                margin-right: .4rem;
            }
        }

        .settings-value {
            flex-grow: 1;

            &.bold {
                font-weight: bold;
            }
            &.meta {
                margin-right: .2rem;
                margin-bottom: 0;
            }
        }
    }