.remove-row-button {
    margin-bottom: 0;
    margin-left: 0.1rem;
    flex-shrink: 0;
    height: 2.4375rem;
}

input {
    min-width: 10px;
    font-size: 14px !important;
}

.info-hover {
    cursor: help;
}

select {
    padding: 0.3rem 1.5rem 0.3rem 0.5rem;
}