.timetable {
    outline: none;

    .close-button {
        right: 0.5rem;
        font-size: 1.3em;
    }
}

    .timetable-row {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: .4rem;

        .timetable-key {
            margin-right: .4rem;
            margin-bottom: 0;
            flex-grow: 1;
        }

        .timetable-value {
            margin-right: .2rem;
            margin-bottom: 0;
            flex-grow: 1;
        }
    }