.workspace {
    z-index: 10;
    position: relative;
    float: left;
}

    .node-body {
        stroke: $nodeBorderColor;
        fill: $nodeBackgroundColor;
    }

        .node-content {
            position: absolute;
            background: transparent;
            pointer-events: none;
            user-select: none;
            padding: 15px;
            box-sizing: border-box;
            color: $nodeContentColor;

            &.food-process {
                padding-left: 14px;
            }
            &.ingredients {
                padding-left: 17px;
            }
        }

    .node-port {
        stroke: none;
        fill: $nodePortColor;

        &:hover, &:active, &:focus {
            cursor: grab;
            stroke: $nodePortHoverColor;
            outline: none;
            stroke-width: 2;
        }
    }