.workspace {
    z-index: 10;
    position: relative;
    float: left;
}

    .node-body {
        stroke: $nodeBorderColor;
        fill: $nodeBackgroundColor;
    }

    .node-port {
        stroke: none;
        fill: $nodePortColor;

        &:hover, &:active, &:focus {
            cursor: grab;
            stroke: $nodePortHoverColor;
            outline: none;
            stroke-width: 2;
        }
    }