.workspace {
    z-index: 10;
    position: relative;
    float: left;
    overflow: hidden;
    min-width: 100px;
}

    .node-body {
        stroke: $nodeBorderColor;
        fill: $nodeBackgroundColor;
        shape-rendering: crispEdges;

        &.active {
            outline: 2px auto $nodeOutlineColor;
            fill: $nodeActiveColor;
        }
    }

        .node-content {
            position: absolute;
            background: transparent;
            pointer-events: none;
            user-select: none;
            padding: 15px;
            box-sizing: border-box;
            color: $nodeContentColor;

            &.food-process {
                padding-left: 14px;
            }
            &.ingredients {
                padding-left: 17px;
            }
        }

    .node-port {
        stroke: none;
        fill: $nodePortColor;

        &:hover, &:active, &:focus {
            cursor: grab;
            stroke: $nodePortHoverColor;
            outline: none;
            stroke-width: 2;
        }
    }

.joint-highlight-stroke {
    stroke: $nodePortHoverColor;
    stroke-width: 3;
    shape-rendering: crispEdges;
}

.connection {
    stroke: $linkStrokeColor;
    shape-rendering: crispEdges;
}

.connection-wrap {
    opacity: 0 !important;
}

.marker-arrowheads {
    display: none;
}

.joint-link.joint-theme-default .link-tools .tool-remove circle {
    fill: #ec5840;
}